
@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>
@using (Html.BeginForm("DoUpdate", "Home", FormMethod.Post))
{
    <label>ID</label>
    <br />
    @Html.TextBox("id", null, new { @class = "form-control", @type = "number" });
    <label>Name</label>
    <br />
    @Html.TextBox("name", null, new { @class = "form-control", @type = "text" });
    <label>Club Name</label>
    <br />
    @Html.TextBox("clubname", null, new { @class = "form-control", @type = "text" });
    <label>Age</label>
    <br />
    @Html.TextBox("age", null, new { @class = "form-control", @type = "number" });
    <label>Fee</label>
    <br />
    @Html.TextBox("fee", null, new { @class = "form-control", @type = "number", @step = "0.01" });
    <button type="submit">Save</button>
}
